@model MBSTU.OnlineCourse.Web.Models.CourseModel
<!DOCTYPE html>
<html>
<style>
    input[type=text], select {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }

    input[type=submit] {
        width: 100%;
        background-color: #4CAF50;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

        input[type=submit]:hover {
            background-color: #45a049;
        }

    div {
        border-radius: 5px;
        background-color: #f2f2f2;
        padding: 20px;
    }
</style>
<body>

    <h3 class="text-center">Course Information</h3>
    <h5>Entry New Course Information</h5>
    <div>
        <form action="Course/Index" method="post">
            <label for="Title">Title</label>
            <input type="text" name="Title" placeholder="Course name..">

            <label for="SeatCount">SeatCount</label>
            <input type="text" name="SeatCount" placeholder="SeatCount..">

            <label for="Fee">Fee</label>
            <input type="text" name="Fee" placeholder="Fee..">

            <input type="submit" value="Submit">
        </form>
    </div>
    <h5>Update Course Information</h5>
    <div>
        <form action="Course/Index" method="put">
            <label for="Title">Title</label>
            <input type="text" name="Title" placeholder="Course name..">

            <label for="SeatCount">SeatCount</label>
            <input type="text" name="SeatCount" placeholder="SeatCount..">

            <label for="Fee">Fee</label>
            <input type="text" name="Fee" placeholder="Fee..">

            <input type="submit" value="Submit">
        </form>
    </div>
    <h5>Delete Course Information</h5>
    <div>
        <form action="Course/Index" method="post">
            <label for="Id">Id</label>
            <input type="text" name="Id" placeholder="Id..">
            <input type="submit" value="Submit">
        </form>
    </div>

</body>
</html>
