@model MBSTU.OnlineCourse.Web.Models.StudentModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2 class="display-4">Student Registration</h2>
    
</div>
<div>
    <form action="Home/Index" method="post">
        <input type="text" name="Name" />
        <input type="text" name="Date of Birth" />
        <input type="submit" value="Submit" />
    </form>
</div>